<div class="modal-header">
  <h3>Add New User</h3>
</div>
<div class="modal-body">
  <label>Username:</label>
  <input type="text" ng-model="nu.name">
  <label>Password:</label>
  <input type="text" ng-model="nu.pass">
  <label>Access Control:</label>
  <label class="checkbox">
    <input ng-model="nu.acl.admin" type="checkbox"> admin
  </label>
  <label class="checkbox">
    <input ng-model="nu.acl.engineer" type="checkbox"> engineer
  </label>
  <label class="checkbox">
    <input ng-model="nu.acl.tester" type="checkbox"> tester
  </label>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-disabled="!nu.name || !nu.pass" ng-click="accept(nu)">Create</button>
  <button class="btn" ng-click="close()">Cancel</button>
</div>
