#header {
  position: fixed;
  width: 100%;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1051;
}
#footer #copyright {
  padding: 10px 0;
  background-color: #444;
  color: #fff;
  text-align: center;
}
#footer #copyright a {
  color: #0cf;
}
#footer #alerts {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 10px;
}
#login {
  text-align: center;
  padding-top: 100px;
}
#main {
  width: 800px;
  margin: 0 auto;
  padding: 50px;
  -webkit-box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
  background-color: #fff;
}
#main h1,
#main h3 {
  text-align: center;
}
svg {
  background-color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}
path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}
svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}
path.link.selected {
  stroke-dasharray: 10, 2;
}
path.link.dragline {
  pointer-events: none;
}
path.link.hidden {
  stroke-width: 0;
}
circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}
circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}
text {
  font: 12px sans-serif;
  pointer-events: none;
}
text.id {
  text-anchor: middle;
  font-weight: bold;
}
.config-editor {
  width: 250px;
  height: 465px;
  margin-right: 25px;
  background-color: #808080;
  float: right;
}
.config-saveAll {
  position: absolute;
  top: 475px;
  margin-left: 65px;
}
.config-save {
  display: inherit;
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: #ccc;
}
a {
  cursor: pointer;
}
#view {
  padding-top: 42px;
  padding-bottom: 50px;
}
