.approve-pane
  width: 250px
  height: 450px
  background-color: gray
  border: 2px solid black
  border-radius: 8px
  float: right


.controls
  float: left
  position: absolute

.config-indent
 margin-left: 15px

.config-title
  color: white
  font-size: 17px
  margin-bottom: 5px

.input-title
  color: white
  font-size: 12px
  margin-bottom: 5px
