<div id="configurations">
  <div class="controls">
    <button class="btn" ng-click="newButton()">New</button>
    <button class="btn" ng-click="openButton()">Open</button>
    <button class="btn" ng-disabled="!name" ng-click="saveButton()">Save</button>
    <button class="btn" ng-click="saveButton(true)">Save As...</button>
    <button class="btn" ng-disabled="!name" ng-click="deleteButton()">Delete</button>
    <h1>{{name}}</h1>
  </div>


  <div class="box editor">
    <div class='config-indent' ng-show="editTitle == 'node'">
      <div class="config-title">Edit Node #{{editItem.id}}</div>
      <div class="input-title">Node Name</div>
      <input type="text" ng-model="editItem.name">
      <div class="input-title">IP Address</div>
      <input type="text" ng-model="editItem.ip">
      <div class= "input-title">Operating System</div>
      <input type="text" ng-model="editItem.os">
    </div>

    <div class='config-indent' ng-show="editTitle == 'conn'">
      <div class="config-title">Edit Connection between #{{editItem.source.id}} and #{{editItem.target.id}}</div>
      <div class="input-title">Communcation Port</div>
      <input type="text" ng-model="editItem.port">
    </div>
  </div>

  <span network-config
    nodes="nodes"
    conns="conns"
    editable="true"
    unsaved-changes="unsavedChanges"
    select="select"
    deselect="deselect"></span>
</div>
