<div id="configurations">
  <div class='config-editor'>
    <div ng-show="configSelected == 'node'">
      <div class="input-title">Edit Node #{{node.id}}</div>
      <div class="input-title">Node Name</div>
      <input type="text" ng-model="node.name">
      <div class="input-title">IP Address</div>
      <input type="text" ng-model="node.ip">
      <div class= "input-title">Operating System</div>
      <input type="text" ng-model="node.os">
    </div>
    <div ng-show="configSelected == 'line'">
      <div class="input-title">Edit Connection between #{{line.target.id}} and #{{line.source.id}}</div>
      <div class="input-title">Communcation Port</div>
      <input type="text" ng-model="line.port">
    </div>
    <div ng-show="selectConfig">
      <div class= 'config-title'>Select Config</div>
      <select ng-model="curConfig" ng-change="loadSelected(curConfig)">
        <option ng-repeat="s in savedConfigs">{{s.name}}</option>
      </select>
    </div>

    <div class= 'config-footer'>
      <div class= 'config-title'>Config Name</div>
      <input type='text' ng-model="configName">
      <button class='config-load btn' ng-click="loadConfiguration()">Load Config</button>
      <button class='config-saveAll btn' ng-click="saveConfiguration(configName)">Save Config</button>
    </div>
  </div>

  <div id="configBuilder"></div>
</div>
