<div id="protected">
  <div class='config-editor'>
    <div ng-show="configSelected" class= 'input-title'>Edit Node: {{selectedNode}}</div>
    <div ng-show="configSelected" class= 'input-title'>Node Name</div>
    <input type='text' ng-show="configSelected" ng-model="node.name">
    <div ng-show="configSelected" class= 'input-title'>IP Address</div>
    <input type='text' ng-show="configSelected" ng-model="node.ip">
    <div ng-show="configSelected" class= 'input-title'>Communcation Port</div>
    <input type='text' ng-show="configSelected" ng-model="node.port">
    <div ng-show="configSelected" class= 'input-title'>Operating System</div>
    <input type='text' ng-show="configSelected" ng-model="node.os">
    <button ng-show="configSelected" class='config-save' data-nodeId='{{selectedNode}}' ng-click="saveNodeInfo(selectedNode)">Save</button>
    <button class='config-saveAll' ng-click="saveConfiguration()">Save Configuration</button>
  </div>
</div>
