<div id="protected">
  <div class='config-editor'>
    <div ng-show="configSelected">
      <div class= 'input-title'>Edit Node: {{selectedNode}}</div>
      <div class= 'input-title'>Node Name</div>
      <input type='text' ng-model="node.name">
      <div class= 'input-title'>IP Address</div>
      <input type='text' ng-model="node.ip">
      <div class= 'input-title'>Communcation Port</div>
      <input type='text' ng-model="node.port">
      <div class= 'input-title'>Operating System</div>
      <input type='text' ng-model="node.os">
      <button class='config-save btn' data-nodeId='{{selectedNode}}' ng-click="saveNodeInfo(selectedNode)">Save</button>
    </div>
    <div ng-show="selectConfig">
      <div class= 'config-title'>Select Config</div>
      <select ng-model="curConfig" ng-change="loadSelected(curConfig)">
        <option ng-repeat="s in savedConfigs">{{s.name}}</option>
      </select>
    </div>

    <div class= 'config-footer'>
      <div class= 'config-title'>Config Name</div>
      <input type='text' ng-model="configName">
      <button class='config-load btn' ng-click="loadConfiguration()">Load Config</button>
      <button class='config-saveAll btn' ng-click="saveConfiguration(configName)">Save Config</button>
    </div>
  </div>
</div>
