<div class="approve-pane">
  <p class="input-title config-indent">Select Configuration</p>
  <select class="config-indent" ng-model="configName" ng-change="getConfig(configName)" ng-options="c for c in configList"></select>

  <div class="start-stop-wrapper">
    <button class="btn btn-success startConfig" ng-show="!running" ng-click="start()">Start</button>
    <button class="btn btn-danger startConfig" ng-show="running" ng-click="stop()">Stop</button>
  </div>

  <div class="start-stop-wrapper" style="margin-top:10px">
    <button class="btn btn-info" ng-click="showReport()">Show Report</button>
  </div>

</div>

<span network-config
    nodes="nodes"
    conns="conns"
    frozen="true"
    class="simulate-config">
</span>
